body{
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.quiz {
padding: 15px;
text-align: center;
    background-color: white;
    margin-top: 40px;
}
.skip {
    color: white;
    background-color: blue;
    font-size: 50px;
    font-weight: 800;
    display: block;
    margin-top: 20px;
    margin-left: auto;
}
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.timer {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.photo {
    width: 800px;
    border-radius: 10px;
    box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
}
.answers {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}
.btn {
    transition: all 0.3s;
    background-color: blue;
    color: white;
    font-size: 50px;
    display: block;
    padding: 50px;
    width: 100%;
    border-radius: 10px;
    display: table;
    text-decoration: none;
    box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
}
b{
    font-size: 50px;
    text-align: center;
}
.btn2{
background-color: red;
}
.btn:hover{
    opacity: 0.7;
}
.potato{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* display: block; */
    /* margin: 0 auto; */
}
.aaaaaaaaaaaaaaaa{
    padding: 40px 1500px;
    width: 180px;
    background-color: #c7c5c5;
}
.btn21{
    font-size: 30px;
    text-decoration: none;
    background-color: red;
    padding: 15px;
    color: white;
}
