body{
    font-family:'Nyasha Sans';
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    @media (max-width: 921px ) {
       flex-wrap: wrap; 
    }
    .btn{
        @media (max-width: 521px ) {
            display: none;
         }
    }
}

.btn{
    margin-left: auto;
    color: #000;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 2px solid #000;
background: var(--yellow, #FFE249);
padding: 16px 32px;

}
.nav-link{
    color: #000;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
@media (max-width: 921px ) {
    display: none;
 }



}
.burger{
    display: none;


    @media (max-width: 921px ) {
     display: block;
     }
}
.glav{
    .contaier{

        background-image: url(./hero-bg.jpg);
        height: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position:  center;
    }
}
.box{
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    padding-top:260px;
    text-align: center;
    padding-left: 50px; 
    h1{
        color: #000;
text-align: center;
@media (max-width: 320px ) {
font-size: 35px;
 }
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
span{
    color: var(--pink, #FF69CA);
text-align: center;

font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
    }
    p{
        color: #000;
text-align: center;
font-family: Nyasha Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 20px 0 50px;
    }
}
.about{
    padding: 50px 0;
    .wrap{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 100px;
    }
    .card{
        max-width: 400px;
        width: 100%;
        border: 2px solid #000;
background: linear-gradient(0deg, #EE75AB 0%, #EE75AB 100%), #FFF;
box-shadow: 4px 4px 0px 0px #000;
img{
    width: 95%;
    display: block;
    margin: -100 auto 0;
    text-align: center;
    padding: 30px 15px;
    
    }
    p{
        color: #000;
text-align: center;
font-family: Nyasha Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
}
    }

h2{
    color: #000;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 100px;
}
&.card1{
    background: linear-gradient(0deg, #EE75AB 0%, #EE75AB 100%), #FFF;

}
&.card2{
    background: linear-gradient(0deg, #92CCFE 0%, #92CCFE 100%), #FFF;


}
&.card3{
    background: linear-gradient(0deg, #FFE249 0%, #FFE249 100%), #FFF;


}
&.card4{
    background: linear-gradient(0deg, #92CCFE 0%, #92CCFE 100%), #FFF;


}
&.card5{
    background: linear-gradient(0deg, #F668A2 0%, #F668A2 100%), #FFF;


}
.teacher{
    background: var(--yellow, #FFE249);

padding: 50px 0;
.card{
    background: white;
}
}





